In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("D:\\learn\\6\\project\\diabetes_types_dataset.csv")

In [3]:
df

,Age,Gender,BMI,Glucose,Insulin,BloodPressure,DiabetesPedigree,ActivityLevel,Smoker,FamilyHistory,HbA1c,DiabetesType
0,61,Male,19.2,172,51.3,100.0,0.67,High,No,No,7.8,Type 2
1,24,Female,32.3,80,69.0,77.0,0.26,High,Yes,Yes,6.9,Type 2
2,81,Male,22.9,189,94.4,74.0,0.38,High,Yes,No,6.1,Type 2
3,70,Female,34.9,177,73.8,110.0,0.41,High,Yes,Yes,4.0,Type 2
4,30,Female,38.5,146,122.4,92.0,0.95,High,No,Yes,7.2,Type 2
...,...,...,...,...,...,...,...,...,...,...,...,...
69995,86,Female,31.8,137,83.8,74.0,0.68,High,No,Yes,8.7,Type 2
69996,14,Female,38.1,122,-1.8,114.0,0.93,High,No,Yes,5.2,Type 1
69997,28,Male,31.9,172,20.8,64.0,0.31,Low,No,Yes,10.7,Type 1
69998,67,Female,23.6,195,55.0,110.0,0.34,High,No,No,6.8,Type 2
69999,66,Female,32.2,158,101.2,83.0,0.48,Low,Yes,No,10.6,Type 2

In [4]:
df.describe()

,Age,BMI,Glucose,Insulin,BloodPressure,DiabetesPedigree,HbA1c
count,70000.000000,66500.000000,70000.000000,66500.000000,66500.000000,70000.000000,66500.000000
mean,49.343800,29.992642,137.382686,79.986057,89.676737,0.500587,6.490902
std,23.088371,6.015148,47.922075,29.993608,17.302341,0.299247,1.502203
min,10.000000,7.300000,70.000000,-52.400000,60.000000,-0.840000,0.800000
25%,29.000000,25.900000,103.000000,59.800000,75.000000,0.300000,5.500000
50%,49.000000,30.000000,135.000000,80.100000,90.000000,0.500000,6.500000
75%,69.000000,34.000000,168.000000,100.200000,105.000000,0.700000,7.500000
max,89.000000,56.100000,597.000000,193.500000,119.000000,1.760000,12.800000

In [5]:
df.isnull().sum()

Age                    0
Gender                 0
BMI                 3500
Glucose                0
Insulin             3500
BloodPressure       3500
DiabetesPedigree       0
ActivityLevel          0
Smoker                 0
FamilyHistory          0
HbA1c               3500
DiabetesType           0
dtype: int64

In [6]:
df['BMI']

0        19.2
1        32.3
2        22.9
3        34.9
4        38.5
         ...
69995    31.8
69996    38.1
69997    31.9
69998    23.6
69999    32.2
Name: BMI, Length: 70000, dtype: float64

In [7]:
df['Insulin'].value_counts()

 89.0     112
 83.5     110
 94.5     110
 90.0     105
 80.4     104
         ...
 7.1        1
-7.5        1
 177.4      1
 174.5      1
-12.2       1
Name: Insulin, Length: 1896, dtype: int64

In [8]:
df['BloodPressure'].value_counts()

107.0    1204
106.0    1183
113.0    1176
74.0     1173
78.0     1167
104.0    1167
101.0    1161
95.0     1160
75.0     1159
81.0     1157
110.0    1154
111.0    1141
66.0     1135
96.0     1132
94.0     1131
93.0     1127
84.0     1125
61.0     1125
85.0     1122
88.0     1121
109.0    1121
114.0    1121
108.0    1120
115.0    1115
119.0    1115
83.0     1114
100.0    1113
69.0     1112
71.0     1111
112.0    1106
62.0     1106
92.0     1104
90.0     1102
72.0     1099
105.0    1099
118.0    1098
80.0     1098
97.0     1094
116.0    1091
73.0     1091
76.0     1091
60.0     1091
70.0     1090
87.0     1085
117.0    1085
98.0     1083
89.0     1079
99.0     1076
65.0     1069
67.0     1067
103.0    1067
86.0     1065
68.0     1061
82.0     1060
102.0    1057
79.0     1054
91.0     1053
64.0     1043
63.0     1043
77.0     1031
Name: BloodPressure, dtype: int64

In [9]:
df['HbA1c'].value_counts()

6.7     1786
6.4     1779
6.8     1769
6.9     1760
6.2     1756
        ...
12.5       2
12.1       2
0.8        1
11.9       1
12.8       1
Name: HbA1c, Length: 117, dtype: int64

In [10]:
column_null=['BMI','BloodPressure','Insulin','HbA1c']

In [11]:
column_null = ['BMI', 'BloodPressure', 'Insulin', 'HbA1c']
for col in column_null:
    df[col] = df[col].fillna(df[col].mean())

In [12]:
df.isnull().sum()

Age                 0
Gender              0
BMI                 0
Glucose             0
Insulin             0
BloodPressure       0
DiabetesPedigree    0
ActivityLevel       0
Smoker              0
FamilyHistory       0
HbA1c               0
DiabetesType        0
dtype: int64

In [13]:
df.describe()

,Age,BMI,Glucose,Insulin,BloodPressure,DiabetesPedigree,HbA1c
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,49.343800,29.992642,137.382686,79.986057,89.676737,0.500587,6.490902
std,23.088371,5.862839,47.922075,29.234142,16.864229,0.299247,1.464166
min,10.000000,7.300000,70.000000,-52.400000,60.000000,-0.840000,0.800000
25%,29.000000,26.200000,103.000000,60.900000,75.000000,0.300000,5.500000
50%,49.000000,29.992642,135.000000,79.986057,89.676737,0.500000,6.490902
75%,69.000000,33.800000,168.000000,99.000000,104.000000,0.700000,7.400000
max,89.000000,56.100000,597.000000,193.500000,119.000000,1.760000,12.800000

In [14]:
df['Insulin'] = df['Insulin'].apply(lambda x: 0 if x < 0 else x)

print(df['Insulin'].head())

0     51.3
1     69.0
2     94.4
3     73.8
4    122.4
Name: Insulin, dtype: float64

In [15]:
df['DiabetesPedigree'] = df['DiabetesPedigree'].apply(lambda x: 0 if x < 0 else x)

print(df['DiabetesPedigree'].head())

0    0.67
1    0.26
2    0.38
3    0.41
4    0.95
Name: DiabetesPedigree, dtype: float64

In [16]:
df['DiabetesType'].value_counts()

Type 2         65684
Type 1          2523
Gestational     1793
Name: DiabetesType, dtype: int64

In [17]:
df

,Age,Gender,BMI,Glucose,Insulin,BloodPressure,DiabetesPedigree,ActivityLevel,Smoker,FamilyHistory,HbA1c,DiabetesType
0,61,Male,19.2,172,51.3,100.0,0.67,High,No,No,7.8,Type 2
1,24,Female,32.3,80,69.0,77.0,0.26,High,Yes,Yes,6.9,Type 2
2,81,Male,22.9,189,94.4,74.0,0.38,High,Yes,No,6.1,Type 2
3,70,Female,34.9,177,73.8,110.0,0.41,High,Yes,Yes,4.0,Type 2
4,30,Female,38.5,146,122.4,92.0,0.95,High,No,Yes,7.2,Type 2
...,...,...,...,...,...,...,...,...,...,...,...,...
69995,86,Female,31.8,137,83.8,74.0,0.68,High,No,Yes,8.7,Type 2
69996,14,Female,38.1,122,0.0,114.0,0.93,High,No,Yes,5.2,Type 1
69997,28,Male,31.9,172,20.8,64.0,0.31,Low,No,Yes,10.7,Type 1
69998,67,Female,23.6,195,55.0,110.0,0.34,High,No,No,6.8,Type 2
69999,66,Female,32.2,158,101.2,83.0,0.48,Low,Yes,No,10.6,Type 2

In [18]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

df['Gender'] = label_encoder.fit_transform(df['Gender'])
df['DiabetesType'] = label_encoder.fit_transform(df['DiabetesType'])

df = pd.get_dummies(df, columns=['ActivityLevel', 'Smoker', 'FamilyHistory'], drop_first=True)

In [19]:
import joblib

joblib.dump(label_encoder, 'label_encoder.pkl')

['label_encoder.pkl']

In [20]:
df

,Age,Gender,BMI,Glucose,Insulin,BloodPressure,DiabetesPedigree,HbA1c,DiabetesType,ActivityLevel_Low,ActivityLevel_Medium,Smoker_Yes,FamilyHistory_Yes
0,61,1,19.2,172,51.3,100.0,0.67,7.8,2,0,0,0,0
1,24,0,32.3,80,69.0,77.0,0.26,6.9,2,0,0,1,1
2,81,1,22.9,189,94.4,74.0,0.38,6.1,2,0,0,1,0
3,70,0,34.9,177,73.8,110.0,0.41,4.0,2,0,0,1,1
4,30,0,38.5,146,122.4,92.0,0.95,7.2,2,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,86,0,31.8,137,83.8,74.0,0.68,8.7,2,0,0,0,1
69996,14,0,38.1,122,0.0,114.0,0.93,5.2,1,0,0,0,1
69997,28,1,31.9,172,20.8,64.0,0.31,10.7,1,1,0,0,1
69998,67,0,23.6,195,55.0,110.0,0.34,6.8,2,0,0,0,0
69999,66,0,32.2,158,101.2,83.0,0.48,10.6,2,1,0,1,0

In [23]:
from sklearn.utils import resample

# Separate majority and minority classes
X = df.drop('DiabetesType', axis=1)
y = df['DiabetesType']

# Get unique classes and their counts
class_counts = y.value_counts()
majority_class = class_counts.index[0]
n_samples = class_counts[majority_class]

# Resample each minority class to match majority class
X_resampled = X.copy()
y_resampled = y.copy()

for class_label in class_counts.index[1:]:
    # Combine features and labels for the current class
    class_data = pd.concat([X[y == class_label], y[y == class_label]], axis=1)
    
    # Resample to match majority class size
    resampled = resample(class_data, 
                        replace=True,
                        n_samples=n_samples,
                        random_state=42)
    
    # Append to resampled data
    X_resampled = pd.concat([X_resampled, resampled.drop('DiabetesType', axis=1)])
    y_resampled = pd.concat([y_resampled, resampled['DiabetesType']])

print("Before resampling:", X.shape, "After resampling:", X_resampled.shape)

Before resampling: (70000, 12) After resampling: (201368, 12)

In [24]:
from sklearn.utils import resample

# Separate majority and minority classes
X = df.drop('DiabetesType', axis=1)
y = df['DiabetesType']

# Get unique classes and their counts
class_counts = y.value_counts()
majority_class = class_counts.index[0]
n_samples = class_counts[majority_class]

# Resample each minority class to match majority class
X_resampled = X.copy()
y_resampled = y.copy()

for class_label in class_counts.index[1:]:
    # Combine features and labels for the current class
    class_data = pd.concat([X[y == class_label], y[y == class_label]], axis=1)
    
    # Resample to match majority class size
    resampled = resample(class_data, 
                        replace=True,
                        n_samples=n_samples,
                        random_state=42)
    
    # Append to resampled data
    X_resampled = pd.concat([X_resampled, resampled.drop('DiabetesType', axis=1)])
    y_resampled = pd.concat([y_resampled, resampled['DiabetesType']])

print("Before resampling:", X.shape, "After resampling:", X_resampled.shape)

Before resampling: (70000, 12) After resampling: (201368, 12)

In [25]:
from sklearn.model_selection import train_test_split

X = df.drop('DiabetesType', axis=1)
y = df['DiabetesType']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("Training data:", X_train.shape, "Test data:", X_test.shape)

Training data: (56000, 12) Test data: (14000, 12)

In [26]:
from imblearn.over_sampling import SMOTE

ModuleNotFoundError: No module named 'imblearn'

In [27]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

models = {
    'Random Forest': RandomForestClassifier(n_estimators=100, random_state=42),
    'Gradient Boosting': GradientBoostingClassifier(n_estimators=100, random_state=42),
    'SVM': SVC(kernel='linear', random_state=42),
    'Logistic Regression': LogisticRegression(random_state=42)
}

best_accuracy = 0
best_model = None

for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)

    print(f"{name} Accuracy: {accuracy:.4f}")

    if accuracy > best_accuracy:
        best_accuracy = accuracy
        best_model = model

print(f"\nBest Model: {best_model} with Accuracy: {best_accuracy:.4f}")

Random Forest Accuracy: 0.9728
Gradient Boosting Accuracy: 0.9729
SVM Accuracy: 0.9556
Logistic Regression Accuracy: 0.9526

Best Model: GradientBoostingClassifier(random_state=42) with Accuracy: 0.9729

d:\progrems\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [28]:
joblib.dump(best_model, 'best_model.pkl')

['best_model.pkl']

In [29]:
import pandas as pd

new_data = [[61, 1, 19.2, 172, 51.3, 100.0, 0.67, 7.8, 1, 0, 1]]

new_data_df = pd.DataFrame(new_data, columns=X_train.columns[:11])

missing_cols = set(X_train.columns) - set(new_data_df.columns)
for col in missing_cols:
    new_data_df[col] = 0

print("New data after adding missing columns:", new_data_df)

new_prediction = best_model.predict(new_data_df)
print(f"Prediction for the new data: {new_prediction}")

New data after adding missing columns:    Age  Gender   BMI  Glucose  Insulin  BloodPressure  DiabetesPedigree  \
0   61       1  19.2      172     51.3          100.0              0.67

   HbA1c  ActivityLevel_Low  ActivityLevel_Medium  Smoker_Yes  \
0    7.8                  1                     0           1

   FamilyHistory_Yes
0                  0
Prediction for the new data: [2]

In [30]:
import pandas as pd
import joblib
import numpy as np

label_encoder = joblib.load('label_encoder.pkl')

new_data = pd.DataFrame([[61, 'Male', 19.2, 172, 51.3, 100.0, 0.67, 'High', 'No', 'No', 7.8]],
                        columns=['Age', 'Gender', 'BMI', 'Glucose', 'Insulin', 'BloodPressure', 'DiabetesPedigree',
                                 'ActivityLevel', 'Smoker', 'FamilyHistory', 'HbA1c'])

# تحقق من وجود القيم في المحول
if 'Male' in label_encoder.classes_:
    new_data['Gender'] = label_encoder.transform(new_data['Gender'])
else:
    new_data['Gender'] = label_encoder.fit_transform(new_data['Gender'])  # إعادة التدريب على البيانات الجديدة

new_data = pd.get_dummies(new_data, columns=['ActivityLevel', 'Smoker', 'FamilyHistory'], drop_first=True)

print(new_data)

   Age  Gender   BMI  Glucose  Insulin  BloodPressure  DiabetesPedigree  HbA1c
0   61       0  19.2      172     51.3          100.0              0.67    7.8

In [31]:
import pandas as pd
import joblib
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from imblearn.over_sampling import SMOTE

# Load the dataset
df = pd.read_csv("/content/diabetes_types_dataset.csv")

# Handle missing values
column_null = ['BMI', 'BloodPressure', 'Insulin', 'HbA1c']
for col in column_null:
    df[col] = df[col].fillna(df[col].mean())

df['Insulin'] = df['Insulin'].apply(lambda x: 0 if x < 0 else x)
df['DiabetesPedigree'] = df['DiabetesPedigree'].apply(lambda x: 0 if x < 0 else x)

# Label Encoding for 'Gender' and 'DiabetesType'
label_encoder = LabelEncoder()
df['Gender'] = label_encoder.fit_transform(df['Gender'])
df['DiabetesType'] = label_encoder.fit_transform(df['DiabetesType'])

# One-hot encoding for categorical variables
df = pd.get_dummies(df, columns=['ActivityLevel', 'Smoker', 'FamilyHistory'], drop_first=True)

# Save the label encoder for future use
joblib.dump(label_encoder, 'label_encoder.pkl')

# Apply SMOTE for balancing the dataset
X = df.drop('DiabetesType', axis=1)
y = df['DiabetesType']
smote = SMOTE(sampling_strategy='auto', random_state=42)
X_resampled, y_resampled = smote.fit_resample(X, y)

# Train-Test Split
X_train, X_test, y_train, y_test = train_test_split(X_resampled, y_resampled, test_size=0.2, random_state=42)

# Train models and evaluate
models = {
    'Random Forest': RandomForestClassifier(n_estimators=100, random_state=42),
    'Gradient Boosting': GradientBoostingClassifier(n_estimators=100, random_state=42),
    'SVM': SVC(kernel='linear', random_state=42),
    'Logistic Regression': LogisticRegression(random_state=42)
}

best_accuracy = 0
best_model = None

for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    print(f"{name} Accuracy: {accuracy:.4f}")

    if accuracy > best_accuracy:
        best_accuracy = accuracy
        best_model = model

print(f"\nBest Model: {best_model} with Accuracy: {best_accuracy:.4f}")

# Save the best model
joblib.dump(best_model, 'best_model.pkl')

# Load the label encoder and best model
label_encoder = joblib.load('label_encoder.pkl')
model = joblib.load('best_model.pkl')

# New data for prediction
new_data = pd.DataFrame([[61, 'Male', 19.2, 172, 51.3, 100.0, 0.67, 'High', 'No', 'No', 7.8]],
                        columns=['Age', 'Gender', 'BMI', 'Glucose', 'Insulin', 'BloodPressure', 'DiabetesPedigree',
                                 'ActivityLevel', 'Smoker', 'FamilyHistory', 'HbA1c'])

# Transform 'Gender' using LabelEncoder
if 'Male' in label_encoder.classes_:
    new_data['Gender'] = label_encoder.transform(new_data['Gender'])
else:
    new_data['Gender'] = label_encoder.fit_transform(new_data['Gender'])

# One-hot encoding for categorical columns
new_data = pd.get_dummies(new_data, columns=['ActivityLevel', 'Smoker', 'FamilyHistory'], drop_first=True)

# Ensure new data has the same columns as the training data
missing_cols = set(X_train.columns) - set(new_data.columns)
for col in missing_cols:
    new_data[col] = 0

# Make prediction using the best model
prediction = model.predict(new_data)

# Print prediction result
prediction_result = label_encoder.inverse_transform(prediction)  # Convert prediction back to label
print(f"Prediction for the new data: {prediction_result[0]}")

ModuleNotFoundError: No module named 'imblearn'